.btn {
  display: block;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  &:nth-child(1) {
    margin-top: 50px;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }
}
