h2 {
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
  color: #c70101;
}

form {
  position: relative;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px 15px;
  text-align: center;
  width: 400px;
  border: 1px #0d1ebb solid;
  border-radius: 15px;
  background-color: #8181bb8c;
  input {
    position: relative;
  }
  button {
    // position: absolute;
    // left: -35px;
    border: none;
    background-color: #fff;
  }
}
