.card {
  width: 200px;
  padding: 10px;
  margin-top: 50px;
  background-color: white;
  border: 2px solid grey;
  position: relative;
  box-sizing: border-box;
  &__img {
    width: 100%;
    // height: 130px;
    background: center (center / cover) no-repeat;
    padding: 10px;
  }
}
