div {
  position: relative;
  input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px #253cc3 solid;
    padding: 3px 10px;
    font-size: 18px;
    outline: none;
  }
  p {
    width: 80%;
    margin: 10px auto;
    text-align: left;
    font-size: 20px;
    color: black;
  }
  .password-btn {
    position: absolute;
    top: 44px;
    right: 41px;
  }
}
